.blue{
    color: lightblue;
    padding:0px 10px;
}
.checkbox{
    height:100%;
    width:20px;
}
.fade{
    opacity: 0.1;
}

.checked{
    opacity:0.1
}

#abc:checked{
    opacity:0.1;
}

.check{
    opacity:0.4
}